# Ignore all files unless explicitly mentioned
*

# And the explicitly mentioned are...
!.gitconfig
!.gitignore
!.hgextensions
!.hgignore_global
!.hgrc
!.hgextensions/*
!.bashrc
!.profile
!.tm_properties